[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-cors = "==4.0.0"
flask-restx = "==1.2.0"
matplotlib = "==3.5.1"
netifaces = "==0.11.0"
opencv-python = "==4.7.0.72"
opencv-python-headless = "==4.8.0.74"
pillow = ">=9.5.0"
ultralytics = "==8.0.203"

[dev-packages]

[requires]
python_version = "3.5"
